.collapsible {
    display: inline-block;
    border-bottom: 1px solid var(--active-colour);
    border-top: 1px solid var(--active-colour);
    padding: var(--s1) 0;
    width: 100%;

    & + &:not(:first-child) + &:not(:last-child) + .collapsible {
        // override any margins applied externally (e.g. from stack primitive)
        margin: 0 !important;
        border-bottom: 1px solid var(--active-colour);
        border-top: none;
    }

    & + .collapsible {
        // override any margins applied externally (e.g. from stack primitive)
        margin: 0 !important;
        border-bottom: 1px solid var(--active-colour);
        border-top: none;
    }

    &__summary {
        list-style: none;
        cursor: pointer;
        font-size: $size-500;
        text-decoration-style: solid;

        @media (min-width: 40em) {
            font-size: $size-600;
        }

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: " ►";
            text-align: right;
            float: right;
        }
    }

    &__text {
        padding: var(--s2) 0;
    }

    &[open] {
        padding: var(--s1) 0 0 0;
    }

    &[open] summary:after {
        content: " ▼";
    }
}
