.topics {
    border-bottom: 2px solid var(--active-colour);
    background-color: var(--background-colour);
    border-right: 0;
    min-height: 0;
    overflow-y: scroll;
    width: 100%;

    @media (min-width: 40em) {
        border-bottom: 0;
        max-height: unset;
        overflow-y: hidden;
        width: 13rem;
        border-top: 0;
    }

    &__active {
        color: var(--active-colour);
    }

    &__details {
        padding: var(--s0) 0;
        font-size: $size-400;
        cursor: pointer;
        border-top: 2px solid var(--active-colour);

        @media (min-width: 40em) {
            padding: var(--s0) 0 0 0;
        }
    }

    ul {
        margin: 0;
        margin-top: var(--s0);
        padding-left: 0;
        list-style-type: none;

        @media (min-width: 40em) {
            display: block;
        }
    }

    li {
        list-style-type: none;
    }
}

.js {
    & .topics {
        &__details {
            @media (min-width: 40.5em) {
                display: none;
            }
        }
    }
}
