@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");
h1,
h2,
h3,
h4 {
	font-family: Lora, "serif";
	font-weight: normal;
}

h1 {
	font-size: $size-700;
	margin: 0 0 2rem 0;
	max-width: 25ch;
	letter-spacing: 2px;
}

h2 {
	margin-top: var(--s3);
	font-size: $size-600;
	max-width: 40ch;
	letter-spacing: 1.5px;
}

h3 {
	margin-top: var(--s2);
	font-size: $size-500;
	max-width: 40ch;
	letter-spacing: 1.25px;
}

p {
	font-size: $size-400;
	margin: 1.2rem 0;
	max-width: 60ch;
	word-break: break-word;
}
ul {
	margin: 1.2rem 0;
	list-style-type: disc;
}
ol {
	margin: 1.2rem 0;
	padding-left: 2rem;
	-webkit-padding-start: 5%;
	-webkit-padding-end: 5%;
}
li {
	margin: 1rem 0;
	max-width: 60ch;
	p {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
}
a {
	color: var(--active-colour);
	text-decoration-style: solid;
	text-underline-offset: 0.2em;
	&:hover {
		text-decoration-style: dashed;
		color: var(--accent);
	}

	&:focus {
		text-decoration-style: none;
		text-decoration: none;
		background-color: var(--accent);
		color: var(--background-colour) !important;
		outline: none;
		box-shadow: 0px 0px 2px var(--active-colour);
		padding: 2px;
	}
}

code {
	font-family: "SF Mono", menlo, inconsolata, monospace;
	font-size: $size-400 * 0.8;
	color: var(--background-colour) !important;
	background-color: var(--active-colour) !important;
	padding: 0.2rem 0.4rem;
	border-radius: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
small {
	font-size: $size-300;
}
pre {
	font-size: $size-300 !important;
	border-radius: 8px !important;
	background-color: var(--active-colour) !important;
	padding: 0;
	code {
		padding: 0;
	}
}

code[class*="language-"],
pre[class*="language-"] {
	white-space: pre-wrap !important;
	word-break: break-word;
	margin: var(--s2) 0 0 0 !important;
	border-radius: 0 !important;
	width: 100% !important;
}

blockquote {
	border-left: 4px solid var(--active-colour);
	padding-left: 2rem;
	padding-right: 2rem;
	footer {
		text-align: right;
	}
}
figure {
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0 0 3rem 0;
}
table {
	border-collapse: collapse;
	margin: 2rem 0;
}
th {
	border-bottom: 2px solid #cccccc;
	padding: 0.4rem 0.8rem;
}
td {
	padding: 0.4rem 0.8rem;
}

@media (min-width: 45em) {
	h1 {
		font-size: $size-800;
	}

	h2 {
		font-size: $size-600;
	}
}

.header-anchor {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
